.thumbnail{
    height: 150px;
    width: 200px;
    border: 2px solid black;
    margin: 20px;
}
 .thumbnail:hover{
     transform: scale(1.1);
 }

 .thumbnail:active{
     border: 2px solid yellow;
 }